"*":
  editor:
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
  core:
    themes: [
      "atom-light-ui"
      "monokai"
    ]
    disabledPackages: [
      "emmet"
      "emacs-center-screen"
      "transient-emacs"
      "emacs-mode"
      "atom-html-preview"
      "incremental-search"
    ]
  "exception-reporting":
    userId: "9d037fea-1dbe-ded5-05b4-e8a65ce5c867"
  welcome:
    showOnStartup: false
  "autoclose-html": {}
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
  "emacs-mode":
    hideTabs: false
    hideSidebar: false
    useEmacsCursor: true
    useFuzzyFileFinder: false
    useFuzzyBufferFinder: false
  linter: {}
  minimap:
    plugins:
      "find-and-replace": true
      "git-diff": true
  "recent-files":
    updated: false
  "spell-check": {}
".perl.source":
  editor:
    tabLength: 4
